<nav class="navbar navbar-dark bg-primary">
    <a id='logo' class="nabvar-brand" href="/">
        Guiapress
    </a>

    <ul id='lista' class="navbar-nav mr-auto">
        <li class="nav-item">
            <a id="nav" class="nav-link" href="/admin/categories/new">Cadastro de Categorias</a>
        </li>
        <li class="nav-item">
            <a id="nav" class="nav-link" href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item">
            <a id="nav" class="nav-link" href="/admin/articles/new">Cadastro de Artigos</a>
        </li>
        <li class="nav-item">
            <a id="nav" class="nav-link" href="/admin/articles">Artigos</a>
        </li>
        
    </ul>
</nav>