<%- include ('../../partials/header.ejs'); %>


<div class="main">
    <div class="cadastro">
        <fieldset>
            <legend>Cadastro de Usuário</legend>
        <form action="/authenticate"  method="POST" class="formulario" onsubmit="verificaSenha(event, this)">
            <div class="label">
                <label for="" class="labelCadastro">E-mail</label>
                <input type="email" name="email" id="email" placeholder="E-mail" class="inputCadastro" required>
            </div>
            <div class="label">
                <label for="" class="labelCadastro">Senha</label>
                <input type="password" name="password" id="password" placeholder="Senha" class="inputCadastro" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
            </div>
            <div>
                <p>Não tem login? <a href="/admin/users/create">Cadastre-Se</a></p>
            </div>
            <div class="button">
                <button class="botao" type="submit">Entrar</button>
            </div>
        </form>
        </fieldset>
    </div>
</div>

<%- include ('../../partials/footer.ejs'); %>